aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiohttp-retry==2.9.1
aiosignal==1.3.2
alembic==1.15.1
aniso8601==10.0.0
annotated-types==0.7.0
astroid==3.3.9
attrs==25.3.0
black==25.1.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
dill==0.3.9
dynaconf==3.2.10
exceptiongroup==1.2.2
fakeredis==2.27.0
Flask==3.1.0
flask-cors==5.0.1
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
flask-restx==1.3.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.5.0
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
importlib_resources==6.5.2
iniconfig==2.1.0
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
Mako==1.3.9
MarkupSafe==3.0.2
marshmallow==3.26.1
marshmallow-sqlalchemy==1.4.1
mccabe==0.7.0
mercadopago==2.2.3
mirakuru==2.6.0
multidict==6.2.0
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.5.0
port-for==0.7.4
propcache==0.3.0
psutil==7.0.0
psycopg2-binary==2.9.10
pydantic==2.10.6
pydantic_core==2.32.0
PyJWT==2.10.1
pylint==3.3.6
PyQRCode==1.2.1
pytest==8.3.5
pytest-mock==3.14.0
pytest-redis==3.1.3
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.2
requests==2.32.3
responses==0.25.7
rpds-py==0.23.1
six==1.17.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.39
sqlmodel==0.0.24
tomli==2.2.1
tomlkit==0.13.2
twilio==9.5.1
typing_extensions==4.12.2
urllib3==2.3.0
waitress==3.0.2
Werkzeug==3.1.3
yarl==1.18.3
